<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" th:href="@{/css/vendor.css}">
<link rel="stylesheet" th:href="@{/css/app.css}">
<link rel="stylesheet" th:href="@{/css/handsontable.full.min.css}" media="screen">
<link rel="stylesheet" th:href="@{/css/jquery.datetimepicker.css}">

<style type="text/css">
    body {
        text-align: center;
        margin: 0 auto;
    }
</style>